## Import Libraies

In [59]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'plotly'

### Load and Check Data

In [19]:
df = pd.read_csv('/Users/wiltonngo/Downloads/Netflix/netflix price in different countries.csv')
files = [file for file in os.listdir('/Users/wiltonngo/Downloads/Netflix')]
netflix_data = pd.DataFrame() 


for file in files:
   df = pd.read_csv("/Users/wiltonngo/Downloads/Netflix/"+file)
   netflix_data = pd.concat([netflix_data,df])

netflix_data.head()

,Country_code,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
0,ar,Argentina,4760,3154,1606,3.74,6.30,9.26
1,au,Australia,6114,4050,2064,7.84,12.12,16.39
2,at,Austria,5640,3779,1861,9.03,14.67,20.32
3,be,Belgium,4990,3374,1616,10.16,15.24,20.32
4,bo,Bolivia,4991,3155,1836,7.99,10.99,13.99

### Missing Value

In [21]:
df.columns[df.isnull().any()]

Index([], dtype='object')

In [22]:
df.isnull().sum()

Country                          0
Total Library Size               0
No. of TV Shows                  0
No. of Movies                    0
Cost Per Month - Basic ($)       0
Cost Per Month - Standard ($)    0
Cost Per Month - Premium ($)     0
dtype: int64

In [23]:
df.Country.unique()

array(['Argentina', 'Austria', 'Bolivia', 'Bulgaria', 'Chile', 'Colombia',
       'Costa Rica', 'Croatia', 'Czechia', 'Ecuador', 'Estonia', 'France',
       'Germany', 'Gibraltar', 'Greece', 'Guatemala', 'Honduras',
       'Hong Kong', 'Iceland', 'India', 'Israel', 'Italy', 'Japan',
       'Liechtenstein', 'Malaysia', 'Mexico', 'Moldova', 'Monaco',
       'Norway', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Romania',
       'Russia', 'San Marino', 'Slovakia', 'South Africa', 'South Korea',
       'Taiwan', 'Thailand', 'Turkey', 'Ukraine', 'Uruguay', 'Venezuela',
       'Belgium', 'Singapore', 'Finland', 'Latvia', 'New Zealand',
       'Hungary', 'Portugal', 'Netherlands', 'Sweden', 'Canada',
       'Lithuania', 'Spain', 'United Kingdom', 'Indonesia', 'Brazil',
       'Ireland', 'Switzerland', 'Australia', 'Denmark', 'United States'],
      dtype=object)

### Which Country has the most expensive Neflix Suscription Fee packages(Basic)

In [26]:
basic= df.sort_values(by='Cost Per Month - Basic ($)', ascending=False)
basic.head()

,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
61,Switzerland,5506,3654,1852,12.88,20.46,26.96
23,Liechtenstein,3048,1712,1336,12.88,20.46,26.96
63,Denmark,4558,2978,1580,12.00,15.04,19.60
53,Sweden,4361,2973,1388,10.90,14.20,19.70
20,Israel,5713,3650,2063,10.56,15.05,19.54

### Which country has the most expensive Netflix Suscription Fee Packages(Standard)

In [ ]:
standard = df.sort_values(by='Cost Per Month - Standard ($)', ascending=False)
standard.head()

,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
61,Switzerland,5506,3654,1852,12.88,20.46,26.96
23,Liechtenstein,3048,1712,1336,12.88,20.46,26.96
45,Belgium,4990,3374,1616,10.16,15.24,20.32
11,France,5445,3604,1841,10.16,15.24,20.32
20,Israel,5713,3650,2063,10.56,15.05,19.54

### Which country has the most expensive Netflix Suscription Fee Packages(Premium)

In [29]:
Premium = df.sort_values(by='Cost Per Month - Premium ($)', ascending=False)
Premium.head()

,Country,Total Library Size,No. of TV Shows,No. of Movies,Cost Per Month - Basic ($),Cost Per Month - Standard ($),Cost Per Month - Premium ($)
23,Liechtenstein,3048,1712,1336,12.88,20.46,26.96
61,Switzerland,5506,3654,1852,12.88,20.46,26.96
18,Iceland,6387,4426,1961,9.03,14.67,20.32
1,Austria,5640,3779,1861,9.03,14.67,20.32
21,Italy,5183,3545,1638,9.03,14.67,20.32

### Exporting to CSV

In [61]:
df.to_csv('Finish.csv',index=False)